.list {
  text-align: left;
  max-width: 80%;
  margin: auto;
}

.list-group-item {
  cursor: pointer;
}

.submit-form {
  max-width: 80%;
  margin: auto;
}

.edit-form {
  max-width: 80%;
  margin: auto;
}
